In [4]:
y=input("Enter y")

Enter y5

In [5]:
y

'5'

In [3]:
l="vikas"
l[0]

'v'

In [1]:
a=input("Enter name")

Enter namevikas

In [2]:
a

'vikas'

In [6]:
import array as arr
a=arr.array(I,[1,2,3,4])

NameError: name 'I' is not defined

# BOOLEAN

In [1]:
bool()

False

In [2]:
type(False)

bool

# LIST

In [9]:
# LIST INITIALIZATION
# list can have a value of different data type 
# list can have indexing
# list is mutable

L6=[]    # defining empty list
L1=[1,2,3,4,5]
L2=[6,7,8,9,10]       #int list
L3=['a','b','c','d']   # character list
l4=["vikas","naveen","rohit","hello"]   # string list
l5=["vikas",12,21.30,True]    # mixed list( string,int,float,boolean)

In [10]:
a1=list(L2)

In [11]:
a1

[6, 7, 8, 9, 10]

In [8]:
l1

[1, 2, 3, 4]

In [3]:
# one more way of list creation is 
ls=list()

In [ ]:

# this also helps in converting other data struture into list type

In [1]:
a1=list([1,2,3,4])

In [4]:

print(a1)

[1, 2, 3, 4]

In [3]:
m1=[1,2,3,4,5,6]
l2=list(m1)
print(l2)

[1, 2, 3, 4, 5, 6]

LIST OPERATION

In [5]:
len(l4)

4

In [12]:
# slicing and indexing
# indexing starts with zero
L1[1]

2

In [14]:
L2[0:2]    # start with zero end with 1( include 0 and exclude 2)

[6, 7]

In [17]:
l5[1:4]

[12, 21.3, True]

In [18]:
l5[-1]    #lastdata of the list

True

In [20]:
l5[-2]     # 2nd last data

21.3

In [22]:
# APPEND METHOD
l5

['vikas', 12, 21.3, True]

In [25]:
l5.append("moni")   #  new element addded always at the last
l5                  # insert at specific location

['vikas', 12, 21.3, True, 'soni', 'soni', 'moni']

In [34]:
a1=[1,2,3]
a2=[34,56,78]
a2.append(a1)
a2

[34, 56, 78, [1, 2, 3]]

EXTEND FUNCTION

In [4]:
n1=[1,2,3,4,5]
n1.extend([7,8])   # instead of adding 7,8 as single element we are adding them seperately
print(n1)

[1, 2, 3, 4, 5, 7, 8]

In [36]:
# insert at specific index in list

a2.insert(2,"naveen")   
a2

[34, 56, 'naveen', 78, [1, 2, 3]]

In [40]:
a=[2,1,9,5]
a.sort()    # this work only when list ha same data type
a

[1, 2, 5, 9]

In [44]:
a.reverse()
a

[9, 5, 2, 1]

In [45]:
# removing data using pop function

a.pop()    #pop funtion without any argument will remove data from the last
a           #pop alternative is remove at the specific location

[9, 5, 2]

In [49]:
a.remove(5)     # it does not follow indexing here we have to give values
a

[2]

In [50]:
# POP CAN REMOVE DATA FROM SPECIFIED LOCATION AS WELL
b1=[1,2,3,4,5,6]
b1.pop(2)
b1

[1, 2, 4, 5, 6]

SLICING IN DEPTH

In [58]:
a=[10,20,30,40,50]
print(a[0:6:2])    #a[start:end:jump], JUMP means-1 element chod ke

[10, 30, 50]

In [61]:
m1=[1,2,3,4,5,6,7,8,9,10]
print(m1[0:10:3])

[1, 4, 7, 10]

In [63]:
print(m1[::-1])    # alternative of reverese

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [64]:
print(m1[::2])  #[::2], this means print all the element with one gaping

[1, 3, 5, 7, 9]

In [66]:
print(m1[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [67]:
print(m1[0:5:3])

[1, 4]

LIST OPERATION

In [68]:
#LIST CONCATENATION

list1=['1','2','3','4','5','6']
list2=['10','20','30','40','50']
list=list1+list2
list

['1', '2', '3', '4', '5', '6', '10', '20', '30', '40', '50']

In [69]:
list=list2+list1
list

['10', '20', '30', '40', '50', '1', '2', '3', '4', '5', '6']

In [71]:
# CLEAR LIST

list1.clear()
list1

[]

In [5]:
#COUNT FUNCTION
q1=[1,2,31,2,1,4,5]
q1.count(1)  # e the count of number passed in parameters

2

In [8]:
#INDEX FUNCTION()
q1.index(31)  # tell index of number 31 in list q1

2

In [9]:
q2=[1,2,3]
q2*2

[1, 2, 3, 1, 2, 3]

In [10]:
q2*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [8]:
a1=[1,2,3,4,5]
a=[i*i for i in a1]

In [9]:
print(a)

[1, 4, 9, 16, 25]

# TUPLES

In [19]:
tup=tuple()
type(tup)

tuple

In [72]:
# tuples are same like list but are imutable

# it is used when definition of program is build


# that means you cannot chnge values once it is created

In [73]:
t1=('1','2','3','4','5')
t2=('vikas','naveen','soni','moni')
t3=('10.2','10.3','10.4','10.5')
t4=('a','b','c','d','f')
t5=('1',"vikas",'A','19.40') 

# just like list it can also have data of all different type,
# we can access it value, concat, remove but cannot adding new to tuple

In [76]:
tup1=[1,2,3,4,5,6,7,8,9]
tup2=[5,6,7,8,9,1,2,3,4]

In [77]:
# ACCESSING VALUES
print(tup1[3])

4

In [80]:
print(tup1[::3])

[1, 4, 7]

In [81]:
# concat tuple:
tup=tup1+tup2
tup

[1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 6, 7, 8, 9, 1, 2, 3, 4]

In [83]:
tup.remove(3)
tup

[1, 2, 4, 5, 6, 7, 8, 9, 5, 6, 7, 8, 9, 1, 2, 4]

# DICTIONARY

Unordered,changeable, and indexed

In [85]:
# KEY VALUE PAIRs

dic={'name':'vikas','age':7,'class':'first'}
# dictionary={key:values}

In [14]:
# like list,set and tuple are created by function,similarly dctionary alsotype
type(dict())

dict

In [86]:
dic['class']   # here key act as index of dictionary

'first'

In [88]:
print("Dict['Name']:",dic['name'])

Dict['Name']: vikas

In [89]:
dic.values()

dict_values(['vikas', 7, 'first'])

In [91]:
dic.keys()

dict_keys(['name', 'age', 'class'])

In [92]:
dic.values()

dict_values(['vikas', 7, 'first'])

In [93]:
dic.items()

dict_items([('name', 'vikas'), ('age', 7), ('class', 'first')])

In [95]:
# updaing existing dictionary
dic['sex']='M'
dic

{'name': 'vikas', 'age': 7, 'class': 'first', 'fee': 900, 'sex': 'M'}

In [96]:
# actual way of updating  

dic.update({'ID':5000})
dic

{'name': 'vikas',
 'age': 7,
 'class': 'first',
 'fee': 900,
 'sex': 'M',
 'ID': 5000}

In [15]:
#IMPORTANT
new={'Name':["vikas","moni","soni"],
      'Age':[1,2,3],
     'Blood':['A','B','C']
         }
new

{'Name': ['vikas', 'moni', 'soni'], 'Age': [1, 2, 3], 'Blood': ['A', 'B', 'C']}

In [16]:
for x in new.values():
    print(x)

['vikas', 'moni', 'soni']
[1, 2, 3]
['A', 'B', 'C']

In [17]:
for x in new.items():
    print(x)

('Name', ['vikas', 'moni', 'soni'])
('Age', [1, 2, 3])
('Blood', ['A', 'B', 'C'])

In [99]:
new.update({'Name':'raja'})   # update means change the present value not adding more to exisiting list
new

{'Name': 'raja', 'Age': [1, 2, 3], 'Blood': ['A', 'B', 'C']}

In [101]:
new['Name']='viku'
new

{'Name': 'viku', 'Age': [1, 2, 3], 'Blood': ['A', 'B', 'C']}

In [102]:
# delete a key

del new['Blood']
new

{'Name': 'viku', 'Age': [1, 2, 3]}

In [107]:
new

{'Name': 'viku'}

In [108]:
#IMPORTANT
new1={'Name':["vikas","moni","soni"],
      'Age':[1,2,3],
     'Blood':['A','B','C']
         }
new1

{'Name': ['vikas', 'moni', 'soni'], 'Age': [1, 2, 3], 'Blood': ['A', 'B', 'C']}

In [109]:
new1.pop('Name')
new1

{'Age': [1, 2, 3], 'Blood': ['A', 'B', 'C']}

In [111]:
new1.clear()
new1

{}

# SET

1. Behave like list but does not follow indexing
2. set does not follow indexing
3. does not acept duplicate values

Set is the collection of unordered items.Each element in the set must be unique,mutable,and the sets remove the
duplicate values.

In [12]:
# Creating as set
var1=set()
type(var1)

set

In [115]:
s1={22,23,2,4,25,26}
s1

{2, 4, 22, 23, 25, 26}

In [116]:
set2={1,1,2,2,3,3,4,4,5,5,6,6}
set2

{1, 2, 3, 4, 5, 6}

In [117]:
y=set([2,5,9,3,2,5])   # one more ways to initilazing set
y

{2, 3, 5, 9}

In [119]:
se={1,2,3,7,4,10,8}
se

# it will automatically convert into ascending order

{1, 2, 3, 4, 7, 8, 10}

In [123]:
se.pop()   # it will randomly delete any value
se

{3, 4, 7, 8, 10}

In [124]:
se.clear()

In [1]:
a=1

In [2]:
type(a)

int

In [3]:
1+1

2

In [13]:
# add elecemtn in setv
var1={'vikas','moni','soni'}
var1.add('Naveen')
var1

{'Naveen', 'moni', 'soni', 'vikas'}