1. Word vectorization is the process of mapping words to a set of real number or vectors
2. Vectorization is done by comparing a given word to the corpus( collection) of availabe words.
3. there are various word embedding models suh as word2Vec,glove, BoW, Tfidf

# COUNT VECTORIZER

It uses 2 models as the base to vectorize

BAG OF WORDS

In [4]:
# example of single document without stopwords

from sklearn.feature_extraction.text import CountVectorizer

from nltk.corpus import stopwords
import pandas as pd 

string=["This is an example of bag of words!"]

vect=CountVectorizer()
X=vect.fit_transform(string)
print("bag of words:",vect.get_feature_names())

bag of words: ['an', 'bag', 'example', 'is', 'of', 'this', 'words']

In [20]:
print(X.toarray())

[[1 1 1 1 2 1 1]]

In [8]:
v
ect.vocabulary_

{'this': 5, 'is': 3, 'an': 0, 'example': 2, 'of': 4, 'bag': 1, 'words': 6}

In [9]:
c_vect=CountVectorizer()
c_vect.fit(string)

CountVectorizer()

In [13]:
string2=["lets understand is of words is"]
c_new=c_vect.transform(string2)

print("Text present at",c_new.toarray())

print("Original indexes",vect.get_feature_names())

Text present at [[0 0 0 2 1 0 1]]
Original indexes ['an', 'bag', 'example', 'is', 'of', 'this', 'words']

In [17]:
## boW of words using stopwords(you can avoid writing extra steps to remove stopwords

stp=stopwords.words('english')

string2=["lets understand is of words is"]
vect2=CountVectorizer(stop_words=stp)
print(vect2)

CountVectorizer(stop_words=['i', 'me', 'my', 'myself', 'we', 'our', 'ours',
                            'ourselves', 'you', "you're", "you've", "you'll",
                            "you'd", 'your', 'yours', 'yourself', 'yourselves',
                            'he', 'him', 'his', 'himself', 'she', "she's",
                            'her', 'hers', 'herself', 'it', "it's", 'its',
                            'itself', ...])

In [30]:
# Bow using function

def text_matrix(message,countvect):    # message is the data we are goint to give
    terms_doc=countvect.fit_transform(message)
    return pd.DataFrame(terms_doc.toarray(),columns=countvect.get_feature_names())

In [31]:
message=["I have three visions for India. In 3000 years of our history, people from all over ",
               "the world have come and invaded us, captured our lands, conquered our minds" ,
               "From Alexander onwards, the Greeks, the Turks, the Moguls, the Portuguese, the British"
        ]

con=CountVectorizer()
print("BAG OF WORDS METRIX")
text_matrix(message,con)

BAG OF WORDS METRIX

,3000,alexander,all,and,british,captured,come,conquered,for,from,...,over,people,portuguese,the,three,turks,us,visions,world,years
0,1,0,1,0,0,0,0,0,1,1,...,1,1,0,0,1,0,0,1,0,1
1,0,0,0,1,0,1,1,1,0,0,...,0,0,0,1,0,0,1,0,1,0
2,0,1,0,0,1,0,0,0,0,1,...,0,0,1,5,0,1,0,0,0,0

NOW THIS IS THE NUMERICAL DATA WHICH IS GIVEN AS A DATA SET AND ALL THE ML ALGORITHMS CAN BE APPLIED

# TF-IDF

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer

import pandas as pd

tfid=TfidfVectorizer()
doc1=["this is an example","vikas is not an boy","boy can be dangerous"]

vec=tfid.fit_transform(doc1)

#print(tfidf.get_feature_names())

df=pd.DataFrame(vec.todense(),columns=tfid.get_feature_names())
df

,an,be,boy,can,dangerous,example,is,not,this,vikas
0,0.428046,0.000000,0.000000,0.000000,0.000000,0.562829,0.428046,0.00000,0.562829,0.00000
1,0.393511,0.000000,0.393511,0.000000,0.000000,0.000000,0.393511,0.51742,0.000000,0.51742
2,0.000000,0.528635,0.402040,0.528635,0.528635,0.000000,0.000000,0.00000,0.000000,0.00000

OBSERVATION;
1."an" and "is"l given ess weight as compared to other words like vikas,dangerous which came only once

In [40]:
# using function

def text1_matrix(message,countvect):    # message is the data we are goint to give
    term_doc=countvect.fit_transform(message)
    return pd.DataFrame(term_doc.toarray(),columns=countvect.get_feature_names())

In [42]:
new=["what is that covid covid","covid is nothing","covid cases is dropping"]

tf=TfidfVectorizer()

text1_matrix(new,tf)

      cases     covid  dropping        is   nothing      that      what
0  0.000000  0.610463  0.000000  0.305232  0.000000  0.516802  0.516802
1  0.000000  0.453295  0.000000  0.453295  0.767495  0.000000  0.000000
2  0.608845  0.359594  0.608845  0.359594  0.000000  0.000000  0.000000